In [42]:
import pandas as pd
import numpy as np

df = pd.read_csv('./marathon_results_2017 - marathon_results_2017.csv')

In [41]:
#1. Display runner data for all runners with an official time of 2:25:00 or better.

df[df['Official Time'] <= '2:25:00']

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,0,11,"Kirui, Geoffrey",24,M,Keringet,NaN,KEN,NaN,NaN,...,1:16:59,1:33:01,1:48:19,2:02:53,0:04:57,-,2:09:37,1,1,1
1,1,17,"Rupp, Galen",30,M,Portland,OR,USA,NaN,NaN,...,1:16:59,1:33:01,1:48:19,2:03:14,0:04:58,-,2:09:58,2,2,2
2,2,23,"Osako, Suguru",25,M,Machida-City,NaN,JPN,NaN,NaN,...,1:17:00,1:33:01,1:48:31,2:03:38,0:04:59,-,2:10:28,3,3,3
3,3,21,"Biwott, Shadrack",32,M,Mammoth Lakes,CA,USA,NaN,NaN,...,1:17:00,1:33:01,1:48:58,2:04:35,0:05:03,-,2:12:08,4,4,4
4,4,9,"Chebet, Wilson",31,M,Marakwet,NaN,KEN,NaN,NaN,...,1:16:59,1:33:01,1:48:41,2:05:00,0:05:04,-,2:12:35,5,5,5
5,5,15,"Abdirahman, Abdi",40,M,Phoenix,AZ,USA,NaN,NaN,...,1:16:59,1:33:01,1:48:52,2:05:21,0:05:04,-,2:12:45,6,6,1
6,6,63,"Maiyo, Augustus K.",33,M,Colorado Springs,CO,USA,NaN,NaN,...,1:17:00,1:33:01,1:49:06,2:05:41,0:05:05,-,2:13:16,7,7,6
7,7,7,"Sefir, Dino",28,M,Addis Ababa,NaN,ETH,NaN,NaN,...,1:18:36,1:34:52,1:51:11,2:07:09,0:05:08,-,2:14:26,8,8,7
8,8,18,"Puskedra, Luke",27,M,Eugene,OR,USA,NaN,NaN,...,1:17:26,1:34:05,1:50:53,2:07:17,0:05:09,-,2:14:45,9,9,8
9,9,20,"Ward, Jared",28,M,Kaysville,UT,USA,NaN,NaN,...,1:17:17,1:33:49,1:50:44,2:07:54,0:05:11,-,2:15:28,10,10,9
10,10,22,"Quigley, Sean",32,M,Braintree,MA,USA,NaN,NaN,...,1:18:20,1:34:58,1:51:55,2:08:10,0:05:11,-,2:15:34,11,11,10
11,11,6,"Tsegay, Yemane",32,M,Addis Ababa,NaN,ETH,NaN,NaN,...,1:17:30,1:34:33,1:52:00,2:08:57,0:05:14,-,2:16:47,12,12,11
12,12,14,"Keflezighi, Meb",41,M,San Diego,CA,USA,NaN,NaN,...,1:17:43,1:34:43,1:51:57,2:09:09,0:05:14,-,2:17:00,13,13,2
13,13,16,"Nyasango, Cutbert",34,M,Harara,NaN,ZIM,NaN,NaN,...,1:19:54,1:36:39,1:53:55,2:10:20,0:05:16,-,2:17:40,14,14,12
14,14,10,"Korir, Wesley",34,M,Kitale,NaN,KEN,NaN,NaN,...,1:17:08,1:34:17,1:51:50,2:09:58,0:05:17,-,2:18:14,15,15,13
15,15,35,"Puzey, Thomas R.",32,M,Flagstaff,AZ,USA,NaN,NaN,...,1:22:17,1:38:51,1:55:17,2:11:14,0:05:17,-,2:18:20,16,16,14
16,16,76,"Kisri, Rachid",41,M,Briarcliff Manor,NY,USA,MAR,NaN,...,1:18:20,1:35:33,1:53:10,2:10:36,0:05:18,-,2:18:32,17,17,3
17,17,3,"Mutai, Emmanuel",32,M,Lessos,NaN,KEN,NaN,NaN,...,1:16:59,1:33:24,1:51:32,2:10:44,0:05:20,-,2:19:33,18,18,15
18,18,30,"Ndhlovu, Pardon",29,M,Vilas,NC,USA,ZIM,NaN,...,1:19:53,1:36:38,1:53:54,2:11:36,0:05:21,-,2:20:12,19,19,16
19,19,31,"Harvey, Brian",29,M,Boston,MA,USA,NaN,NaN,...,1:21:45,1:38:34,1:55:48,2:12:51,0:05:22,-,2:20:18,20,20,17
20,20,F3,"Kiplagat, Edna",37,F,Uasin Gishu,NaN,KEN,NaN,NaN,...,1:25:51,1:42:40,1:58:41,2:14:43,0:05:25,-,2:21:52,21,1,1
21,21,81,"Chipsiya, Christopher K.",42,M,Zacatecas,NaN,MEX,KEN,NaN,...,1:18:40,1:36:43,1:55:52,2:14:15,0:05:26,-,2:22:20,22,21,4
22,22,101,"Mindel, Scott",30,M,Arlington,MA,USA,NaN,NaN,...,1:23:19,1:40:09,1:57:20,2:14:34,0:05:27,-,2:22:32,23,22,18
23,23,F11,"Chelimo, Rose",27,F,Manama,NaN,BRN,NaN,NaN,...,1:25:50,1:42:40,1:59:15,2:15:42,0:05:27,-,2:22:51,24,2,2
24,24,F23,"Hasay, Jordan",25,F,Beaverton,OR,USA,NaN,NaN,...,1:25:51,1:42:41,1:59:26,2:15:54,0:05:28,-,2:23:00,25,3,3
25,25,182,"Place, Ryan J",31,M,Cambridge,MA,USA,NaN,NaN,...,1:23:13,1:40:12,1:57:40,2:15:14,0:05:28,-,2:23:05,26,23,19
26,26,33,"Humphrey, Luke",36,M,Beverly Hills,MI,USA,NaN,NaN,...,1:22:32,1:39:45,1:57:41,2:15:14,0:05:28,-,2:23:12,27,24,20
27,27,28,"Ashe, Eric",28,M,Boston,MA,USA,NaN,NaN,...,1:23:29,1:40:14,1:57:24,2:15:27,0:05:29,-,2:23:26,28,25,21
28,28,53,"Thompson, Christian C.",28,M,Chattanooga,TN,USA,NaN,NaN,...,1:23:23,1:40:53,1:58:45,2:16:07,0:05:30,-,2:23:51,29,26,22
29,29,43,"Maravilla, Jorge",39,M,Mill Valley,CA,USA,NaN,NaN,...,1:24:35,1:42:05,1:59:45,2:16:21,0:05:31,-,2:24:27,30,27,23
30,30,37,"Ornelas, Zachary",25,M,Ann Arbor,MI,USA,NaN,NaN,...,1:26:44,1:43:54,2:01:02,2:17:33,0:05:32,-,2:24:40,31,28,24
31,31,54,"Ayr, Jason M.",29,M,Allston,MA,USA,NaN,NaN,...,1:23:19,1:40:15,1:58:09,2:16:27,0:05:32,-,2:24:49,32,29,25

In [37]:
#2. Display all runners from Boston

boston_runners = df[df["City"] == "Boston"]

df_boston = pd.DataFrame(boston_runners)

df_boston

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
19,19,31,"Harvey, Brian",29,M,Boston,MA,USA,NaN,NaN,...,1:21:45,1:38:34,1:55:48,2:12:51,0:05:22,-,2:20:18,20,20,17
27,27,28,"Ashe, Eric",28,M,Boston,MA,USA,NaN,NaN,...,1:23:29,1:40:14,1:57:24,2:15:27,0:05:29,-,2:23:26,28,25,21
65,65,248,"Gilmore, Peter",27,M,Boston,MA,USA,NaN,NaN,...,1:26:56,1:44:54,2:03:28,2:22:28,0:05:47,-,2:31:13,66,59,49
82,82,205,"Klecker, Jack R",25,M,Boston,MA,USA,NaN,NaN,...,1:30:54,1:49:00,2:07:06,2:25:08,0:05:51,-,2:33:12,83,74,62
174,174,281,"Pierce, Clayton J.",25,M,Boston,MA,USA,NaN,NaN,...,1:30:56,1:50:10,2:09:54,2:30:14,0:06:06,-,2:39:32,175,155,133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26295,26295,27154,"LeBlanc, Erica R.",24,F,Boston,MA,USA,NaN,NaN,...,3:23:07,4:11:31,4:59:10,5:43:42,0:13:46,-,6:00:53,26297,11908,5819
26320,26320,30010,"Sulpizio, Rebecca K.",23,F,Boston,MA,USA,NaN,NaN,...,3:18:29,4:05:53,4:51:39,5:44:02,0:13:50,-,6:02:33,26322,11929,5829
26332,26332,30269,"Enista, Katie M.",32,F,Boston,MA,USA,CAN,NaN,...,3:11:00,4:01:13,4:53:41,5:47:31,0:13:52,-,6:03:26,26334,11937,5834
26385,26385,26889,"Welch, Jennifer E.",37,F,Boston,MA,USA,NaN,NaN,...,3:22:39,4:15:26,5:07:51,5:55:05,0:14:21,-,6:16:04,26387,11969,5846
26392,26392,10603,"Ferry, J. Alain",45,M,Boston,MA,USA,NaN,NaN,...,3:48:42,4:37:42,5:23:30,6:07:21,0:14:45,-,6:26:31,26394,14425,2551

In [30]:
#3. What was the average age of all the runners?

df['Age'].mean()

42.587731919727375